@model DevSmash___Projeto_Final.Models.ViewModels.FaleConoscoViewModel

<form asp-action="FaleConosco">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row gtr-50">
        <div class="col-6 col-12-mobilep">
            <input asp-for="FormNome" class="control-label" placeholder="Seu nome" />
            <span asp-validation-for="FormNome" class="text-danger"></span>
        </div>
        <div class="col-6 col-12-mobilep">
            <input asp-for="FormEmail" class="control-label" placeholder="Seu e-mail!" />
            <span asp-validation-for="FormEmail" class="text-danger"></span>
        </div>
        <div class="col-6 col-12-mobilep">
            <input asp-for="FormTelefone" class="control-label" placeholder="Telefone" />
            <span asp-validation-for="FormTelefone" class="text-danger"></span>
        </div>
        <div class="col-6 col-12-mobilep">
            <input asp-for="FormCpf" class="control-label" placeholder="Seu CPF/CNPJ" />
            <span asp-validation-for="FormCpf" class="text-danger"></span>
        </div>
        <div class="col-12">
            <textarea asp-for="FormMensagem" class="control-label" placeholder="Conte-nos sobre você e o que precisa!" rows="5"></textarea>
            <span asp-validation-for="FormMensagem" class="text-danger"></span>
        </div>
        <div class="col-12">
            <ul class="actions">
                <li><input type="submit" class="button alt" value="Enviar Mensagem" /></li>
            </ul>
        </div>
    </div>
</form>