<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" , user-scalable=no />
    <title>@ViewData["Title"] - DevSmash</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body class="is-preload">
    <div id="page-wrapper">
        <div id="header">
            <header>
                <nav id="nav">
                    <ul>
                        <li id="li_Cronos">
                            <a asp-controller="Home" asp-action="Index">Cronos</a>
                        </li>
                        <li id="li_Blog">
                            <a asp-controller="Home" asp-action="Blog">Blog</a>
                        </li>
                        <li id="li_Servicos">
                            <a asp-controller="Home" asp-action="Servicos">Serviços</a>
                        </li>
                        <li id="li_About">
                            <a asp-controller="Home" asp-action="About">Quem Somos</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li id="li_Administrador">
                                <a asp-controller="AdmPanel" asp-action="Index">Administrador</a>
                            </li>
                        }
                    </ul>
                </nav>
            </header>
        </div>
        <div>
            <main role="main" class="pb-3">
                <div class="container">
                    @RenderBody()
                </div>
            </main>
        </div>
        <footer>
            <div id="footer">
                <ul class="icons">
                    <li><a href="https://twitter.com/" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="https://github.com/" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                    <li><a asp-controller="AdmPanel" asp-action="Index" class="icon solid fa-toolbox"><span class="label">Administrador</span></a></li>
                </ul>
                <div class="copyright">
                    <ul class="menu">
                        <li>&copy; Devsmash. Todos os direitos reservados.</li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.dropotron.min.js" asp-append-version="true"></script>
    <script src="~/js/browser.min.js" asp-append-version="true"></script>
    <script src="~/js/breakpoints.min.js" asp-append-version="true"></script>
    <script src="~/js/util.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
