@model IEnumerable<DevSmash___Projeto_Final.Models.Entidades.Post>
<link rel="stylesheet" href="~/css/EstiloBlog.css" asp-append-version="true" />

@section Scripts{
<script>
    $('document').ready(AlterarMenu(2));
</script>
}

<section class="wrapper style1">
    <div class="container">
        <div class="row">
            <div>
                <div id="content">
                    <article class="row">
                        <header>
                            <h1>Veja alguns dos assunstos abordados em nosso blog!</h1><hr /> </br></br>
                        </header>
                        @foreach (var post in Model)
                        {
                            <header>
                                <h2>@post.Titulo</h2>
                            </header>
                            <span class="image featured"><img src="@post.Imagem" alt="@post.Conteudo" /></span>
                            <p>@post.Conteudo</p>
                        }
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
