@model DevSmash___Projeto_Final.Models.ViewModels.FaleConoscoViewModel

<section class="wrapper style1">
    <div class="container" style="width:800px">
            <header>
                <h2>Preencha o formulário que em breve nossos especialistas entrarão em contato com você!</h2>
                <p>Seu sucesso começa agora!</p>
            </header>
            @Html.Partial("_ClientesForm", Model)
    </div>
</section>