@model DevSmash___Projeto_Final.Models.ViewModels.PaginaInicialViewModel
@{
    ViewData["Title"] = "Agência Cronos";
}

@section Scripts{
<script>
    $('document').ready(AlterarMenu(1));
</script>
}

<section id="banner">
   
</section>
<section class="wrapper style1">
    <div class="container">
        <div class="row gtr-200">
            @foreach (var item in Model.Servicos)
            {
                @Html.Partial("_Servicos", item);
            }
        </div>
    </div>
</section>
<section class="wrapper style2">
    <div class="container">
        <header class="major">
            <h2>Nosso foco é a qualidade e a satisfação de nossos clientes!</h2>
            <p>Conheça nosso blog, compartilhamos nossos conteúdos e opiniões nele</p>
        </header>
    </div>
</section>
<section class="wrapper style1">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Posts)
            {
                @Html.Partial("_Posts", item);
            }
        </div>
    </div>
</section>