@model IEnumerable<DevSmash___Projeto_Final.Models.ViewModels.AdmPanelViewModel>;
@section Scripts{
<script>
    $('document').ready(AlterarMenu(5));
</script>
}
<section class="wrapper style1">
    <div class="container">
        <div class="row gtr-200">
            <div id="content">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button style="float:right;" type="submit" class="button alt">Clique aqui para deslogar</button>
                </form>
                <article>
                    <header>
                        <h2>Seja bem vindo Administrador!</h2>
                        <p>O que deseja atualizar?</p>
                    </header>
                    @foreach (var panel in Model)
                    {
                        <section class="col-2 col-12-narrower" style="display:inline-block;">
                            <div class="box highlight">
                                <a asp-controller="@panel.ControllerNome" asp-action="Index">
                                    <i class="@panel.ImagemServico" style="cursor:pointer;"></i>
                                    <p class="card-text">@panel.NomePanel</p>
                                </a>
                            </div>
                        </section>
                    }

                </article>
            </div>
        </div>
    </div>
</section>





